.card-container {
  display: flex;
  position: relative;
  max-width: 99%;
  overflow: auto; 
}

.card-container .ant-card {
  margin: 10px;
  width: 240;
}

.card-new-deck {
  background: #d7d8d8 ;
}