.banner {
  margin: 0;
  height: 260px;
  color: #fff;
  line-height: 160px;
  text-align: center;
  background: #364d79;

}

.item-banner {
  display: flex !important;
  text-align: center !important;
  
  margin-left: 35%;
}

.item-banner img {
  width: 150px;
  height: auto;
}